* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin-top: 1em;
  text-align: center;
}
footer {
  margin-top: 2em;
  font-style: italic;
}
h1 {
  margin-bottom: 0.4em;
}
img, .colors {
  margin: auto;
  max-width: 50%;
}
img {
  display: block;
  max-height: 80vh;
}
.colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2em;
}
.colors span {
  height: 5em;
  width: 5em;
  border: 1px solid hsl(0,0%,50%);
  border-radius: 50%;
}